@import './styles/vars.less';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.page-tabs-wrpper {
  display: flex;
  align-items: center;
  height: 44px;
  background-color: #fafafa;
  .page-tabs-btn__left,
  .page-tabs-btn__right,
  .page-tabs-btn__close {
    z-index: 2;
    display: block;
    flex: 0 28px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #fff;
    border: 1px solid @border-common-color;
  }
  .page-tabs {
    width: 100%;
    flex: 1;
    overflow: hidden;
    height: 44px;
    .items {
      position: relative;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding-left: 0;
      list-style: none;
      white-space: nowrap;
      height: 44px;
      transition: transform 0.5s;
      .item {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        margin-top: 6px;
        cursor: pointer;
        &:first-of-type{
          margin-left: 5px;
        }
        span {
          display: block;
          padding: 0 12px;
          height: 32px;
          color: gray;
          line-height: 32px;
          text-decoration: none;
          background: #fff;
          border: 1px solid @border-common-color;
          &:before {
            content: '';
            display: inline-block;
            margin-right: 8px;
            width: 10px;
            height: 10px;
            background: @border-common-color;
            border-radius: 50%;
          }
          &.active {
            color: #333;
            &::before {
              background: @primary-color;
            }
          }
          .page-close {
            padding-left: 10px;
            color: #e2e4e8;
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
}

.ant-layout-sider-collapsed {
  .app-logo-text {
    display: none;
  }
}

.app-user {
  position: absolute;
  right: 20px;
  cursor: pointer;
  .name {
    margin-left: 10px;
    font-weight: bold;
  }
  .split {
    padding: 0 10px;
    color: @border-common-color;
  }
}

.app-slider-open {
  line-height: inherit !important;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  padding-top: 2px;
}

.app-header {
  display: flex;
  .ant-breadcrumb {
    line-height: inherit;
    margin-left: 20px;
    > span:nth-of-type(1) {
      font-weight: bold;
    }
    > span:last-of-type {
      font-weight: bold;
    }
  }
}

.app-logo {
  padding: 10px 20px;
  color: white;
  background: #002140;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  img {
    height: 40px;
    margin-right: 10px;
  }
}
